@media only screen and (max-width:1350px) {
    h2 {
            font-size: 45px;
            text-align: center;
        }
    .skills-section {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }
    .experience-card {
        width: 100%;
    
        }

    .progress-section{
        margin-top: 20px;
    }
}
